<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Form product</h4>
            </div>
            <div class="modal-body">
                <form novalidate class="simple-form">
                    <div class="form-group">
                        <label>Photo</label>
                        <input type="text" class="form-control" placeholder="Photo" ng-model="product.photo" title="Photo">

                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title" ng-model="product.title" title="Title">

                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="Description" ng-model="product.description" title="Description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="emptyProduct()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateProduct(product)" ng-if="product.id">Save changes</button>
                <button type="button" class="btn btn-primary" ng-click="createProduct(product)" ng-if="!product.id">Create product</button>
            </div>
        </div>
    </div>
</div>
